html {
    font-size: 62.5%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #ffffff;
    font-size: 62.5%;
    cursor: pointer;
}

h1 {
    text-align: center;
    padding: 0.5em;
    font-size: 10em;
    text-decoration: underline;
    margin: 0.5em 15% 0em 15%;
    font-family: "Playfair Display SC", serif;
}

h2 {
    text-align: center;
    padding: 0em 3.1em 1em 3.1em;
    margin: 0em auto;
    font-size: 4em;
    max-width: 70%;
}

p {
    font-size: 4em;
    max-width: 70%;
    margin: 1em auto;
    font-weight: bold;
    text-align: justify;
}

.mainSect {
    padding: 3em;
    margin: 10em 30em;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 10px 5px 5px rgb(7, 7, 7);
    max-width: 1200px;
}

.hidden {
    display: none;
}

#spinTheWheel {
    background-color: white;
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    padding: 1em;
    border: 2px solid rgba(0, 0, 0, 0.033);
    box-shadow: 2px 2px 2px rgb(7, 7, 7);
    margin: 0em 2em 0 2em;
    cursor: pointer;
}

h3 {
    font-size: 3.5em;
    margin: 1em;
}

.contentWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dynamic-img {
    width: auto;
    max-width: 75%;
    max-height: 70vh;
    padding: auto;
    border-radius: 1em;
}

#caption {
    font-size: 2em;
}

#map {
    height: 500px;
    width: 500px;
    display: block;
}

footer {
    font-size: 2em;
    padding-top: 3em;
}

.footerWrap {
    margin: 3em 1em 1em 1em;
    padding: 3em 2em 2em 2em;
    padding: 3em;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}

.footerWrap a {
    color: black;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (max-width: 600px) {
    body {
        /* background-color: green; */
    }
    h1 {
        font-size: 9em;
    }
    h2 {
        font-size: 3em;
        margin: 1em 0em;
        padding: 0.5em;
    }
    .mainSect {
        margin: 3em;
    }
}

@media (min-width: 601px) and (max-width: 750px) {
    body {
        /* background-color: green; */
    }
    h1 {
        font-size: 9em;
    }
    h2 {
        margin: 1em 0em;
    }
    .mainSect {
        margin: 3em;
    }
}

@media (min-width: 751px) and (max-width: 1000px) {
    body {
        /* background-color: blue; */
    }
    h1 {
        font-size: 9em;
    }
    h2 {
        margin: 1em 0em;
    }
    .mainSect {
        margin: 6em 3em;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    body {
        /* background-color: pink; */
    }
    h1 {
        font-size: 9em;
    }
    h2 {
        font-size: 3.4em;
    }
    .mainSect {
        margin: 5em;
    }
}
